name: Paperstack (Long)

on:
  schedule:
    - cron: '0 15 * * 1' # This sets the action to run at 15:00 UTC on Mondays.

jobs:
  call-core:
    uses: ./.github/workflows/core.yml
    secrets: inherit
    with:
      search-arxiv: true
      search-scholar: true
